@{
  Layout = "_Layout";
}
@model HairSalon.Models.Client

<h4>Clair, add a new client to your database:</h4>

<div class="clients-form">
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name, "Name")<br>
  @Html.TextBoxFor(model => model.Name) <br>

  @Html.LabelFor(model => model.Stylist, "Assign a stylist to this client.")<br>
  @Html.DropDownList("StylistId")<br><br>

  <input type="submit" value="Add new client"/>
}
</div>

<p>@Html.ActionLink("Show All Clients", "Index", "Clients", null, new {@class = "btn btn-primary"})</p>